.git/
.gitattributes
.gitignore
.agents/
.github/
.venv/
.ruff_cache/
.pytest_cache/
node_modules/
data/
bin/
*.md
.env*
copy.envrc
Dockerfile
docker-compose.yml
LICENSE
uv.lock
Makefile
flake.lock
flake.nix
src/userscripts/
src/python/tests/
src/python/uv.lock
